html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(245, 245, 245); /* sets background color */
  position: relative;
  margin: 0;
  padding-bottom: 186px;
  min-height: 100%;
  text-align: center;
  font-family: "Trebuchet MS", Tahoma, sans-serif; /* sets main font and fallback ones */
}

h1 {
  color: white;
}

li {
  list-style-type: none; /* removes list default styling */
}

a {
  text-decoration: none; /* removes hyperlink default underline */
  color: black; /* sets default hyperlink color */
}

header {
  background-color: rgb(255, 228, 73);
  grid-area: header;

  /* sets header html element as grid header area */
}

#logo {
  float: left;
  margin: 5px 0px 5px 10px; /* creates space above logo */
  height: 80px; /* sets logo width */
  transition: 1s; /* sets how long animation takes to complete */
}

#logo:hover {
  transform: translateX(
    25px
  ); /* moves logo to the right when mouse hovered over it */
}

@media screen and (max-width: 400px) {
  #logo:hover {
    transform: translateX(
      0px
    ); /* disables logo animation when screen size less than 400px*/
  }
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: rgb(255, 228, 73);
  z-index: 1;
}

nav ul {
  float: right; /* moves nav bar to the right */
  margin: 25px 0px 0px 0px; /* adds spacing to the nav from the page edege */
  transition: 1s;
  /*time it takes for nav bar animation to complete*/
}

nav li {
  display: inline; /* makes list to be shown as a row instead of column */
  border: 0px; /* sets each nav button border thickness */
  font-size: 30px; /* sets nav bar font size */
  margin-right: 20px;
  padding: 10px 0px 27px 0px;
  background-color: rgb(black); /* sets nav bar button color filling */
}

nav li a {
  padding: 10px 10px 32px 10px;
}

#nav1 {
  border-bottom: 4px solid black;
}

nav li:hover {
  border-bottom: 4px solid black; /* changes nav bar button color filling when mouse hovered over it */
}

#nav4 {
  margin-right: 0px;
}

#nav4 select {
  /* change language button styling */
  appearance: none; /* Removes default select arrow */
  outline: none; /* removes default outline border after using the select button */
  border: 0px; /*removes default button border */
  padding: 0px 5px 0px 5px; /* increases button size sideways */
  font-size: 29px; /* sets select font size */
  color: rgb(236, 43, 0); /* sets select font color */
  background-color: transparent; /* makes select background transparent */
}
#nav4:hover {
  border-bottom: 0px; /* changes nav bar button color filling when mouse hovered over it */
}

@media screen and (max-width: 640px) {
  /* runs when screen width is less than 941px */
  #logo {
    margin: 9.5px 0px 0px 4px; /* changes logo spacing from the edges */
  }

  nav ul {
    margin: 17px 12% 0px 0px; /*changes nav bar spacing from the edges */
  }

  nav li {
    display: block; /* changes nav bar back into column style */
  }

  #nav4 {
    float: right; /* moves change language button to the right */
    max-width: 50px; /* sets maximum width of lingo button CHECK*/
  }
}

#imageBanner {
  grid-area: banner;
  padding: 0px;

  margin-top: 60px;
  margin-bottom: 0px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#imageBa {
  transform: translateY(10px);
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px;
}

.offersClass {
  grid-area: offers;
  padding: 0px;
  margin: 0px;
  z-index: 2;
}

#offers {
  background-color: rgb(52, 123, 255);
  margin: 0;
  padding: 10px 0px 5px 0px;
  max-width: 1177.5px;
  margin-left: auto;
  margin-right: auto;
}

.booking {
  position: fixed;
  bottom: 0px;
  width: 100%;
  font-family: "Trebuchet MS", sans-serif;
  padding: 25px;
  background-color: rgb(52, 123, 255);
  z-index: 2;
  color: white;
  font-size: 20px;
}

.bookButton {
  margin-left: 10px;
  padding: 14px;
  border: 2px solid black;
  font-size: 20px;
  background-color: rgb(255, 255, 95);
  color: rgb(236, 43, 0);
}

#guestsBooking {
  max-width: 100%;
  max-height: 100%;

  font-size: 20px;
  color: black;
  background-color: white;
  outline: 1px;
  padding: 10px;
  border: 2px solid black;
}

#offer {
  grid-area: offer;
}

#offer ul {
  padding: 0;
}

#offer img {
  max-width: 100%;
}

#offer {
  display: grid;
  grid-template-columns: repeat(
    4,
    minmax(0, 1fr)
  ); /* sets how many rows and their size */
  max-width: 1177.5px;
  margin-left: auto; /* centers all the grid with its contents */
  margin-right: auto; /* centers all the grid with its contents */
}

.yoyo {
  background-color: white;
  transition: 0.5s;
  font-size: 25px;
  border: 1px solid grey;
  border-width: 0px 0px 0px 1px;
}

.yoyo p {
  padding: 10px;
}

#yoyo4 {
  border-width: 0px 1px 0px 1px;
}

.yoyo:hover {
  transform: scale(1.025);
  z-index: 0;
  border-width: 0px 1px 0px 1px;
}

#oferta1 {
  max-width: 300px;
}

#oferta1 p {
  max-width: 100%;
}

#main {
  display: grid; /* sets map page body as a grid layout */
  grid-template-columns: auto; /* sets how many rows and their size */
  grid-template-areas: "banner" "offers" "offer" "footer"; /* sets grid desired configuration */
  margin-left: auto; /* centers all the grid with its contents */
  margin-right: auto; /* centers all the grid with its contents */
  min-width: 352px; /* sets grid minimum width */
  max-width: 100%; /* sets grid maximum width */
}

#control {
  max-width: 1100px;
  margin-left: auto; /* centers all the grid with its contents */
  margin-right: auto; /* centers all the grid with its contents */
}

footer {
  position: absolute;
  right: 0;
  bottom: 97px;
  left: 0;
  padding: 10px 0px 10px 0px; /* sets margin spacing over and under footer area */
  background-color: rgb(255, 228, 73);
  display: grid; /* sets footer element as subgrid of map grid */
  grid-template-columns: auto auto; /* sets how many rows and their size */
  margin-left: auto; /* centers all the grid with its contents */
  margin-right: auto; /* centers all the grid with its contents */
  z-index: 1;
}

footer a {
  color: rgb(236, 43, 0);
}

.contact {
  margin-left: auto;
  margin-right: 100px;
}

.info {
  margin-right: auto;
  margin-left: 100px;
  transform: translateX(-20px);
}
