header {
  grid-area: header; /* sets header html element as grid header area */
}

a {
  text-decoration: none;
  color: rgb(194, 61, 0);
}

h1 {
  color: rgb(255, 15, 135);
}

#logo {
  margin-top: 40px; /* creates space above logo */
  width: 200px; /* sets logo width */
  transition: 1s; /* sets how long animation takes to complete */
}

#logo:hover {
  transform: translateX(
    25px
  ); /* moves logo to the right when mouse hovered over it */
}

body {
  background-image: linear-gradient(
    rgb(0, 195, 255),
    rgb(255, 255, 204),
    rgb(255, 255, 204),
    rgb(255, 255, 204)
  );
  height: 100%;
  text-align: center;
  font-family: "Trebuchet MS", sans-serif;
}

nav {
  grid-area: nav; /* sets nav element as nav grid area */
}

nav ul {
  float: right; /* moves nav bar to the right */
  margin: 93px 100px 0px 0px; /* adds spacing to the nav from the page edege */
  transition: 1s; /*time it takes for nav bar animation to complete*/
}

nav li {
  display: inline; /* makes list to be shown as a row instead of column */
  border: 2.5px solid black; /* sets each nav button border thickness */
  font-size: 25px; /* sets nav bar font size */
  background-color: rgb(255, 255, 95); /* sets nav bar button color filling */
}

nav li:hover {
  background-color: rgb(
    221,
    247,
    255
  ); /* changes nav bar button color filling when mouse hovered over it */
}

#nav1 {
  padding: 0px 25px 2px 25px; /* sets home button size */
}

#nav2 {
  padding: 0px 34px 2px 34px; /* sets map button size */
}

#nav3 {
  padding: 0px 19px 2px 19px; /* sets ABOUT button size */
}

#nav4 select {
  /* change language button styling */
  appearance: none; /* Removes default select arrow */
  outline: none; /* removes default outline border after using the select button */
  border: 0px; /*removes default button border */
  padding: 0px 5px 0px 5px; /* increases button size sideways */
  font-size: 25px; /* sets select font size */
  color: rgb(236, 43, 0); /* sets select font color */
  background-color: transparent; /* makes select background transparent */
}

.booking {
  font-family: "Trebuchet MS", sans-serif;
  padding: 25px;
  background-color: rgb(254, 135, 74);
  /*text-decoration: none;
  */
}

ul {
  list-style-type: none;
}

footer {
  grid-area: footer;
}

.offersClass {
  grid-area: offers;
  padding-top: 15px;
}

.book {
  padding: 7.5px;
  border: 1px solid black;
  background-color: rgb(255, 255, 95);
}

.grid-container {
  display: display-box;
  grid-template-columns: auto auto auto;
  grid-template-areas: "header nav nav" "banner banner banner" "booking booking booking" "offers offers offers";
}

.grid-footer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "contact info";
}

#languages {
  max-width: 100%;
  max-height: 100%;
  appearance: none; /* Remove default arrow */
  border: 0px;
  font-size: 25px;
  color: rgb(236, 43, 0);
  background-color: transparent;
  outline: 0px;
  padding: 0px 5px 0px 5px;
}

#guestsBooking {
  max-width: 100%;
  max-height: 100%;

  font-size: 20px;
  color: rgb(236, 43, 0);
  background-color: rgb(255, 255, 95);
  outline: 1px;
  padding: 0px 5px 0px 5px;
}
#image0 {
  background-image: url(/resources/offers/offer.jpg);
}

#image1 {
  background-image: url(/resources/map/poi/rollerCoaster.jpg);
}

#image2 {
  background-image: url(/resources/map/poi/hotel.jpg);
}

#image3 {
  background-image: url(/resources/acropolis.jpg);
}

.textHover {
  position: relative;
  width: 200px;
  height: 200px;
  /* remove float: center; */

  display: inline-block;
  margin: 5px;
  background-size: 100%;
  transition: 0.5s;
  background-position: center;
}

.textHover:hover {
  background-size: 110%;
}

.textHover:after {
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  background-color: rgba(50, 50, 50, 0.25);
  color: white;
  padding: 0 5px;

  content: attr(data-text);
  transition: 0.5s;
}

.textHover:hover:after {
  top: 0;
  padding: 10px;
  background-color: rgba(50, 50, 50, 0.75);
}

.textHover:first-line {
  color: white;
  font-weight: bold;
  font-size: 5em;
}
