body {
  background-image: linear-gradient(rgb(0, 0, 0)); /* sets background color */
  text-align: center; /* centers all the content */
  font-family: "Trebuchet MS", Tahoma, sans-serif; /* sets main font and fallback ones */
  margin: 0;
}

h1 {
  color: rgb(255, 251, 0);
}

li {
  list-style-type: none; /* removes list default styling */
}

a {
  text-decoration: none; /* removes hyperlink default underline */
  color: rgb(236, 43, 0); /* sets default hyperlink color */
}

header {
  background-color: rgb(254, 135, 74);
  grid-area: header;
  max-width: 250px; /* sets header html element as grid header area */
}

#logo {
  float: left;
  margin: 20px 0px 20px 5px; /* creates space above logo */
  width: 200px; /* sets logo width */
  transition: 1s; /* sets how long animation takes to complete */
}

#logo:hover {
  transform: translateX(
    25px
  ); /* moves logo to the right when mouse hovered over it */
}

@media screen and (max-width: 400px) {
  #logo:hover {
    transform: translateX(
      0px
    ); /* disables logo animation when screen size less than 400px*/
  }
}

nav {
  margin-left: 100px;
  width: 900px;
  grid-area: nav; /* sets nav element as nav grid area */
  background-color: rgb(125, 127, 255);
}

nav ul {
  float: right; /* moves nav bar to the right */
  margin: 90px 50px 0px 0px; /* adds spacing to the nav from the page edege */
  transition: 1s; /*time it takes for nav bar animation to complete*/
}

nav li {
  display: inline; /* makes list to be shown as a row instead of column */
  border: 2.5px solid black; /* sets each nav button border thickness */
  font-size: 25px; /* sets nav bar font size */
  background-color: rgb(255, 255, 95); /* sets nav bar button color filling */
}

nav li:hover {
  background-color: rgb(
    221,
    247,
    255
  ); /* changes nav bar button color filling when mouse hovered over it */
}

#nav1 {
  padding: 0px 25px 2px 25px; /* sets home button size */
}

#nav2 {
  padding: 0px 34px 2px 34px; /* sets map button size */
}

#nav3 {
  padding: 0px 19px 2px 19px; /* sets ABOUT button size */
}

#nav4 select {
  /* change language button styling */
  appearance: none; /* Removes default select arrow */
  outline: none; /* removes default outline border after using the select button */
  border: 0px; /*removes default button border */
  padding: 0px 5px 0px 5px; /* increases button size sideways */
  font-size: 25px; /* sets select font size */
  color: rgb(236, 43, 0); /* sets select font color */
  background-color: transparent; /* makes select background transparent */
}

@media screen and (max-width: 940px) {
  /* runs when screen width is less than 941px */
  #logo {
    margin: 9.5px 0px 0px 4px; /* changes logo spacing from the edges */
  }

  nav ul {
    margin: 17px 12% 0px 0px; /*changes nav bar spacing from the edges */
  }

  nav li {
    display: block; /* changes nav bar back into column style */
  }

  #nav4 {
    float: right; /* moves change language button to the right */
    max-width: 50px; /* sets maximum width of lingo button CHECK*/
  }
}

#imageBanner {
  margin-top: 0px;
  max-width: 100%;
}

.offersClass {
  grid-area: offers;
  padding: 0px;
  margin: 0px;
}

#offers {
  background-color: rgb(125, 127, 255);
  margin: 0;
  padding: 5px;
}

.bookButton {
  padding: 10px;
  border: 1px solid black;
  font-size: 20px;
  background-color: rgb(255, 255, 95);
}

.booking {
  grid-area: booking;
  font-family: "Trebuchet MS", sans-serif;
  padding: 25px;
  background-color: rgb(254, 135, 74);
}

#guestsBooking {
  max-width: 100%;
  max-height: 100%;

  font-size: 20px;
  color: black;
  background-color: white;
  outline: 1px;
  padding: 10px;
}

.banner {
  grid-area: banner;
}

#image0 {
  background-image: url(/resources/offers/offer.jpg);
}

#image1 {
  background-image: url(/resources/map/poi/rollerCoaster.jpg);
}

#image2 {
  background-image: url(/resources/map/poi/hotel.jpg);
}

#image3 {
  background-image: url(/resources/acropolis.jpg);
}

.textHover {
  position: relative;
  width: 296px;
  height: 296px;
  /* remove float: center; */
  border: 0;
  display: inline-block;
  margin: 0;
  padding: 0;
  background-size: 100%;
  transition: 0.5s;
  background-position: center;
}

.textHover:hover {
  background-size: 110%;
}

.textHover:after {
  position: absolute;
  top: 90%;
  bottom: 0;
  left: 0;
  right: 0;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  background-color: rgba(50, 50, 50, 0.25);
  color: white;
  padding: 0 5px;
  content: attr(data-text);
  transition: 0.5s;
}

.textHover:hover:after {
  top: 0;
  padding: 10px;
  background-color: rgba(50, 50, 50, 0.75);
}

.textHover:first-line {
  color: white;
  font-weight: bold;
  font-size: 5em;
}

footer {
  grid-area: footer; /* sets footer element as footer grid area */
  margin: 40px 0px 30px 0px; /* sets margin spacing over and under footer area */
}

#email {
  grid-area: email; /* sets email object as email grid area */
}

#extra {
  grid-area: extra; /* sets extra object as extra grid area */
  margin-right: 40px; /* moves extra to the left */
}

.grid-container-map {
  display: grid; /* sets map page body as a grid layout */
  grid-template-columns: auto auto auto auto; /* sets how many rows and their size */
  grid-template-areas: "header nav nav nav" "banner banner banner banner" "booking booking booking booking" "offers offers offers offers" "footer footer footer footer"; /* sets grid desired configuration */
  margin-left: auto; /* centers all the grid with its contents */
  margin-right: auto; /* centers all the grid with its contents */
  min-width: 352px; /* sets grid minimum width */
  max-width: 1200px; /* sets grid maximum width */
}

.grid-container-footer {
  display: grid; /* sets footer element as subgrid of map grid */
  grid-template-columns: auto auto; /* sets how many rows and their size */
  grid-template-areas: "email extra"; /* sets grid desired configuration */
}
