body {
  background-image: linear-gradient(
    rgb(0, 195, 255),
    rgb(255, 255, 204),
    rgb(255, 255, 204),
    white
  );
  text-align: center;
  font-family: "Trebuchet MS", Tahoma, sans-serif;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: rgb(236, 43, 0);
}

header {
  grid-area: header;
}

#logo {
  margin-top: 40px;
  transition: 1s;
}

#logo:hover {
  transform: translateX(25px);
}

@media screen and (max-width: 400px) {
  #logo:hover {
    transform: translateX(0px);
  }
}

nav {
  grid-area: nav;
}

nav ul {
  float: right;
  margin: 93px 100px 0px 0px;
  transition: 1s;
}

nav li {
  display: inline;
  border: 2.5px solid black;
  font-size: 25px;
  background-color: rgb(255, 255, 95);
}

nav li:hover {
  background-color: rgb(221, 247, 255);
}

#nav1 {
  padding: 0px 25px 2px 25px;
}

#nav2 {
  padding: 0px 34px 2px 34px;
}

#nav3 {
  padding: 0px 19px 2px 19px;
}

#nav4 select {
  appearance: none; /* Remove default arrow */
  outline: none;
  border: 0px;
  padding: 0px 5px 0px 5px;
  font-size: 25px;
  color: rgb(236, 43, 0);
  background-color: transparent;
}

@media screen and (max-width: 940px) {
  #logo {
    margin: 9.5px 0px 0px 4px;
  }

  nav ul {
    margin: 17px 12% 0px 0px;
  }

  nav li {
    display: block;
  }

  #nav4 {
    float: right;
    max-width: 50px;
  }
}

#map {
  grid-area: map;
}

#mapImage {
  margin-top: 30px;
  max-width: 90%;
  transition: 1s;
}

#mapImage:hover {
  transform: scale(1.05);
}

#poi {
  grid-area: poi;
}

#poiTittle {
  margin-top: 20px;
  font-size: 32px;
  font-weight: bold;
  color: rgb(255, 15, 135);
}

#poi1 {
  background-image: url(https://i.ibb.co/FnDkSzM/hotel.jpg);
}

#poi2 {
  background-image: url(https://i.ibb.co/52fbfxY/restaurant.jpg);
}

#poi3 {
  background-image: url(https://i.ibb.co/nDpBqyW/rollercoaster.jpg);
}

#poi4 {
  background-image: url(https://i.ibb.co/nDGT4g0/carousel.jpg);
}

#poi5 {
  background-image: url(https://i.ibb.co/G90rqHQ/logRides.jpg);
}

#poi6 {
  background-image: url(https://i.ibb.co/mX03vJZ/bumper-Cars.jpg);
}

#poi7 {
  background-image: url(https://i.ibb.co/pjfkdn6/ghost-Train.jpg);
}

#poi8 {
  background-image: url(https://i.ibb.co/YRsqnFF/ferris-Wheeljpg.jpg);
}

#poi9 {
  background-image: url(https://i.ibb.co/pPBq4J4/wildlife-Centre.jpg);
}

#poi10 {
  background-image: url(https://i.ibb.co/vHfJt8h/pendulum-Ride.jpg);
}

.poiImage {
  display: inline-block;
  position: relative; /* ??? */
  background-position: center;
  background-size: 105%;
  margin: 20px 10px 0px 10px;
  border: 2.5px solid rgb(255, 15, 135);
  border-radius: 10%;
  height: 200px;
  width: 200px;
  transition: 1s;
}

.poiImage:hover {
  transform: scale(1.05);
}

.poiImage:after {
  content: attr(data-index);
  position: absolute;
  overflow: hidden;
  top: 85%;
  right: 8%;
  bottom: -0.5%;
  left: 74%;
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: rgb(255, 15, 135);
  transition: 1s;
}

.poiImage:hover:after {
  content: attr(data-text);
  border-radius: 10%;
  top: -0.5%;
  right: -0.5%;
  bottom: -0.5%;
  left: -0.5%;
  font-weight: normal;
  color: rgb(255, 15, 135);
  background-color: rgba(0, 0, 0, 0.9);
}

footer {
  grid-area: footer;
  margin: 40px 0px 30px 0px;
}

#email {
  grid-area: email;
}

#extra {
  grid-area: extra;
  margin-right: 40px;
}

.grid-container-map {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-areas: "header nav nav" "map map map" "poi poi poi" "footer footer footer";
  margin-left: auto;
  margin-right: auto;
  min-width: 352px;
  max-width: 1145px;
}

.grid-container-footer {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-areas: "email extra";
}
