html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: rgb(245, 245, 245); /* sets background color */
  position: relative;
  margin: 0;
  padding-bottom: 182.5px;
  min-height: 100%;
  text-align: center;
  font-family: "Trebuchet MS", Tahoma, sans-serif; /* sets main font and fallback ones */
}

#mapBody {
  padding-bottom: 241px;
  background-image: linear-gradient(
    rgb(0, 195, 255),
    rgb(235, 235, 235),
    rgb(245, 245, 245)
  );
  background-repeat: no-repeat;
}

h1 {
  color: white;
}

li {
  list-style-type: none; /* removes list default styling */
}

a {
  text-decoration: none; /* removes hyperlink default underline */
  color: black; /* sets default hyperlink color */
}

header {
  background-color: rgb(255, 228, 73);
  grid-area: header;

  /* sets header html element as grid header area */
}

#logo {
  float: left;
  margin: 5px 0px 5px 10px; /* creates space above logo */
  height: 80px; /* sets logo width */
  transition: 1s; /* sets how long animation takes to complete */
}

#logo:hover {
  transform: translateX(
    25px
  ); /* moves logo to the right when mouse hovered over it */
}

@media screen and (max-width: 400px) {
  #logo:hover {
    transform: translateX(
      0px
    ); /* disables logo animation when screen size less than 400px*/
  }
}

nav {
  position: fixed;
  top: 0px;
  width: 100%;

  right: 0;

  left: 0;
  background-color: rgb(255, 228, 73);
  z-index: 1;
}

nav ul {
  float: right; /* moves nav bar to the right */
  margin: 25px 10px 0px 0px; /* adds spacing to the nav from the page edege */
  transition: 1s;
  /*time it takes for nav bar animation to complete*/
}

nav li {
  display: inline; /* makes list to be shown as a row instead of column */
  border: 0px; /* sets each nav button border thickness */
  font-size: 30px; /* sets nav bar font size */
  margin-right: 20px;
  padding: 10px 0px 27px 0px;
  background-color: rgb(black); /* sets nav bar button color filling */
}

nav li a {
  padding: 10px 10px 32px 10px;
}

nav li:hover {
  border-bottom: 4px solid black; /* changes nav bar button color filling when mouse hovered over it */
}

#nav4 select {
  /* change language button styling */
  appearance: none; /* Removes default select arrow */
  outline: none; /* removes default outline border after using the select button */
  border: 0px; /*removes default button border */
  padding: 0px 5px 0px 5px; /* increases button size sideways */
  font-size: 29px; /* sets select font size */
  color: rgb(236, 43, 0); /* sets select font color */
  background-color: transparent; /* makes select background transparent */
}
#nav4:hover {
  border-bottom: 0px; /* changes nav bar button color filling when mouse hovered over it */
}

@media screen and (max-width: 640px) {
  /* runs when screen width is less than 941px */
  #logo {
    margin: 9.5px 0px 0px 4px; /* changes logo spacing from the edges */
  }

  nav ul {
    margin: 17px 12% 0px 0px; /*changes nav bar spacing from the edges */
  }

  nav li {
    display: block; /* changes nav bar back into column style */
  }

  #nav4 {
    float: right; /* moves change language button to the right */
    max-width: 50px; /* sets maximum width of lingo button CHECK*/
  }
}

.booking {
  position: fixed;
  bottom: 0px;
  width: 100%;

  right: 0;

  left: 0;
  font-family: "Trebuchet MS", sans-serif;
  padding: 25px;
  background-color: rgb(52, 123, 255);
  z-index: 2;
  color: white;
  font-size: 20px;
}

.bookButton {
  margin-left: 10px;
  padding: 14px;
  border: 2px solid black;
  font-size: 20px;
  background-color: rgb(255, 255, 95);
  color: rgb(236, 43, 0);
}

#guestsBooking {
  max-width: 100%;
  max-height: 100%;

  font-size: 20px;
  color: black;
  background-color: white;
  outline: 1px;
  padding: 10px;
  border: 2px solid black;
}

#map {
  grid-area: map; /* sets Map section as Map Grid section area */
}

#mapImage {
  margin-top: 30px; /* adds space above MAP Image */
  max-width: 90%; /* limits MAP Image width respective to Map Grid section area width */
  transition: 1s; /* duration of MAP Image animation */
}

#mapImage:hover {
  transform: scale(
    1.05
  ); /* increases MAP Image size when mouse hovered over it */
}

#poi {
  grid-area: poi; /* sets Points of Interest section as Poi Grid section area */
}

#poiTittle {
  /* changes Points of Interest section Tittle styling */
  margin-top: 20px; /* adds space above Title */
  font-size: 32px; /* sets font size */
  font-weight: bold; /* sets bold font */
  color: rgb(255, 15, 135); /* sets font color */
}

#poi1 {
  background-image: url(https://i.ibb.co/FnDkSzM/hotel.jpg); /* inserts HOTEL Image */
}
#poi2 {
  background-image: url(https://i.ibb.co/52fbfxY/restaurant.jpg); /* inserts RESTAURANT Image */
}
#poi3 {
  background-image: url(https://i.ibb.co/nDpBqyW/rollercoaster.jpg); /* inserts ROLLER COASTER Image */
}
#poi4 {
  background-image: url(https://i.ibb.co/nDGT4g0/carousel.jpg); /* inserts CAROUSEL Image */
}
#poi5 {
  background-image: url(https://i.ibb.co/G90rqHQ/logRides.jpg); /* inserts LOG RIDES Image */
}
#poi6 {
  background-image: url(https://i.ibb.co/mX03vJZ/bumper-Cars.jpg); /* inserts BUMPER CARS Image */
}
#poi7 {
  background-image: url(https://i.ibb.co/pjfkdn6/ghost-Train.jpg); /* inserts GHOST TRAIN Image */
}
#poi8 {
  background-image: url(https://i.ibb.co/YRsqnFF/ferris-Wheeljpg.jpg); /* inserts FERRIS WHEEL Image */
}
#poi9 {
  background-image: url(https://i.ibb.co/pPBq4J4/wildlife-Centre.jpg); /* inserts WILDLIFE CENTRE Image */
}
#poi10 {
  background-image: url(https://i.ibb.co/vHfJt8h/pendulum-Ride.jpg); /* inserts PENDULUM RIDE Image */
}

.poiImage {
  /* changes Points of Interest Images styling */
  display: inline-block; /* sets Images in a row style*/
  position: relative; /* creates its own set of coordinates at location offset of viewport */
  background-position: center; /* centers Image */
  background-size: 105%; /* increases Image size */
  margin: 20px 10px 0px 10px; /* creates spaces between images */
  border: 2.5px solid rgb(255, 15, 135); /* sets Image border */
  border-radius: 10%; /* sets Image circular corner */
  height: 200px; /* sets Image width */
  width: 200px; /* sets Image height */
  transition: 1s; /* sets animation duration*/
}

.poiImage:hover {
  transform: scale(1.05); /* increase Image size when hovered over */
}

.poiImage:after {
  /* adds extra element/styling after Points of Interest Image element */
  content: attr(
    data-index
  ); /* sets content showed to be equal to the value of data-index attribute */
  position: absolute; /* creates on top type positioning which uses nearest parents' element coordinates available */
  overflow: hidden; /* hides any text that appears outside the Image perimeters */
  top: 85%; /* sets upper edge coordinate of index box */
  right: 8%; /* sets right edge coordinate of index box */
  bottom: -0.5%; /* sets lower edge coordinate of index box */
  left: 74%; /* sets left edge coordinate of index box */
  padding: 5px; /* sets index padding */
  font-size: 20px; /* sets font size */
  font-weight: bold; /* sets bold font */
  color: white; /* sets text color */
  background-color: rgb(255, 15, 135); /* sets index box color */
  transition: 1s; /* sets animation duration */
}

.poiImage:hover:after {
  /* adds extra element/styling after Points of Interest Image element when hovered over */
  content: attr(
    data-text
  ); /* sets content showed to be equal to the value of data-text attribute */
  border-radius: 10%; /* sets expanded text box circular corner */
  top: -0.5%; /* sets upper edge coordinate of expanded text box */
  right: -0.5%; /* sets upper edge coordinate of expanded text box */
  bottom: -0.5%; /* sets upper edge coordinate of expanded text box */
  left: -0.5%; /* sets upper edge coordinate of expanded text box */
  font-weight: normal; /* sets normal font */
  color: rgb(255, 15, 135); /* sets font color */
  background-color: rgba(
    0,
    0,
    0,
    0.9
  ); /* sets color and opacity of expanded text box*/
}

.main {
  margin-top: 80px;
  display: grid; /* sets Map Page Body element as Main Grid area */
  grid-template-columns: auto; /* sets how many colums in the Main Grid area and their size */
  grid-template-areas: "map" "poi"; /* sets Main Grid desired column/row configuration */
  margin-left: auto; /* centers Main Grid with its contents */
  margin-right: auto; /* centers Main Grid with its contents */
  min-width: 1177.5px; /* sets Main Grid minimum width */
  max-width: 1177.5px; /* sets Main Grid maximum width */
}

#control {
  max-width: 1177.5px;
  margin-left: auto; /* centers all the grid with its contents */
  margin-right: auto; /* centers all the grid with its contents */
}

footer {
  position: absolute;
  right: 0;
  bottom: 97px;
  left: 0;
  padding: 10px 0px 10px 0px; /* sets margin spacing over and under footer area */
  background-color: rgb(255, 228, 73);
  display: grid; /* sets footer element as subgrid of map grid */
  grid-template-columns: auto auto; /* sets how many rows and their size */
  margin-left: auto; /* centers all the grid with its contents */
  margin-right: auto; /* centers all the grid with its contents */
  z-index: 1;
}

footer a {
  color: rgb(236, 43, 0);
}

.contact {
  margin-left: auto;
  margin-right: 100px;
}

.info {
  margin-right: auto;
  margin-left: 100px;
}
