body {
  background-image: linear-gradient(
    rgb(0, 195, 255),
    rgb(235, 235, 235),
    white
  ); /* sets page background color */
  text-align: center; /* centers all the content */
  font-family: "Trebuchet MS", Tahoma, sans-serif; /* sets main font and fallback ones */
}

li {
  list-style-type: none; /* removes all List elements default styling */
}

a {
  text-decoration: none; /* removes Hyperlink default underline */
  color: rgb(236, 43, 0); /* sets default Hyperlink color */
}

header {
  grid-area: header; /* sets Header element as Header Grid section area */
}

#logo {
  margin-top: 40px; /* creates space above LOGO Image */
  width: 200px; /* sets LOGO Image width */
  transition: 1s; /* sets how long LOGO Image animation takes to complete */
}

#logo:hover {
  transform: translateX(
    25px
  ); /* moves LOGO Image to the right when hovered over it */
}

@media screen and (max-width: 400px) {
  #logo:hover {
    transform: translateX(
      0px
    ); /* disables LOGO Image animation when screen size less than 401px */
  }
}

nav {
  grid-area: nav; /* sets Nav element as Nav Grid section area */
}

nav ul {
  float: right; /* moves Nav Bar to the right */
  margin: 93px 75px 0px 0px; /* adds spacing to the Nav Bar from the page edege */
  transition: 1s; /* time it takes for Nav Bar animation to complete */
}

nav li {
  display: inline; /* makes Nav Bar elements to be shown as a row instead of column */
  border: 2.5px solid black; /* sets each Nav button border thickness */
  font-size: 25px; /* sets Nav Bar font size */
  background-color: rgb(255, 255, 95); /* sets Nav Bar button color filling */
}

nav li:hover {
  background-color: rgb(
    221,
    247,
    255
  ); /* changes Nav Bar buttons' color filling when mouse hovered over it */
}

#nav1 {
  padding: 0px 25px 2px 25px; /* sets HOME button size */
}

#nav2 {
  padding: 0px 34px 2px 34px; /* sets MAP button size */
}

#nav3 {
  padding: 0px 19px 2px 19px; /* sets ABOUT button size */
}

#nav4 select {
  /* changes Change Language Select button styling */
  appearance: none; /* removes default Select arrow */
  outline: none; /* removes default outline border after using the Select button */
  border: 0px; /*removes default button border */
  padding: 0px 5px 0px 5px; /* increases button size sideways */
  font-size: 25px; /* sets Select font size */
  color: rgb(236, 43, 0); /* sets Select font color */
  background-color: transparent; /* makes Select background transparent */
}

@media screen and (max-width: 940px) {
  /* runs when screen width is less than 941px */
  #logo {
    margin: 9.5px 0px 0px 4px; /* changes LOGO Image spacing from the edges */
  }

  nav ul {
    margin: 17px 12% 0px 0px; /* changes Nav Bar spacing from the edges */
  }

  nav li {
    display: block; /* changes Nav Bar back into column style */
  }

  #nav4 {
    float: right; /* moves Change language Select button to the right */
  }
}

#map {
  grid-area: map; /* sets Map section as Map Grid section area */
}

#mapImage {
  margin-top: 30px; /* adds space above MAP Image */
  max-width: 90%; /* limits MAP Image width respective to Map Grid section area width */
  transition: 1s; /* duration of MAP Image animation */
}

#mapImage:hover {
  transform: scale(
    1.05
  ); /* increases MAP Image size when mouse hovered over it */
}

#poi {
  grid-area: poi; /* sets Points of Interest section as Poi Grid section area */
}

#poiTittle {
  /* changes Points of Interest section Tittle styling */
  margin-top: 20px; /* adds space above Title */
  font-size: 32px; /* sets font size */
  font-weight: bold; /* sets bold font */
  color: rgb(255, 15, 135); /* sets font color */
}

#poi1 {
  background-image: url(https://i.ibb.co/FnDkSzM/hotel.jpg); /* inserts HOTEL Image */
}
#poi2 {
  background-image: url(https://i.ibb.co/52fbfxY/restaurant.jpg); /* inserts RESTAURANT Image */
}
#poi3 {
  background-image: url(https://i.ibb.co/nDpBqyW/rollercoaster.jpg); /* inserts ROLLER COASTER Image */
}
#poi4 {
  background-image: url(https://i.ibb.co/nDGT4g0/carousel.jpg); /* inserts CAROUSEL Image */
}
#poi5 {
  background-image: url(https://i.ibb.co/G90rqHQ/logRides.jpg); /* inserts LOG RIDES Image */
}
#poi6 {
  background-image: url(https://i.ibb.co/mX03vJZ/bumper-Cars.jpg); /* inserts BUMPER CARS Image */
}
#poi7 {
  background-image: url(https://i.ibb.co/pjfkdn6/ghost-Train.jpg); /* inserts GHOST TRAIN Image */
}
#poi8 {
  background-image: url(https://i.ibb.co/YRsqnFF/ferris-Wheeljpg.jpg); /* inserts FERRIS WHEEL Image */
}
#poi9 {
  background-image: url(https://i.ibb.co/pPBq4J4/wildlife-Centre.jpg); /* inserts WILDLIFE CENTRE Image */
}
#poi10 {
  background-image: url(https://i.ibb.co/vHfJt8h/pendulum-Ride.jpg); /* inserts PENDULUM RIDE Image */
}

.poiImage {
  /* changes Points of Interest Images styling */
  display: inline-block; /* sets Images in a row style*/
  position: relative; /* creates its own set of coordinates at location offset of viewport */
  background-position: center; /* centers Image */
  background-size: 105%; /* increases Image size */
  margin: 20px 10px 0px 10px; /* creates spaces between images */
  border: 2.5px solid rgb(255, 15, 135); /* sets Image border */
  border-radius: 10%; /* sets Image circular corner */
  height: 200px; /* sets Image width */
  width: 200px; /* sets Image height */
  transition: 1s; /* sets animation duration*/
}

.poiImage:hover {
  transform: scale(1.05); /* increase Image size when hovered over */
}

.poiImage:after {
  /* adds extra element/styling after Points of Interest Image element */
  content: attr(
    data-index
  ); /* sets content showed to be equal to the value of data-index attribute */
  position: absolute; /* creates on top type positioning which uses nearest parents' element coordinates available */
  overflow: hidden; /* hides any text that appears outside the Image perimeters */
  top: 85%; /* sets upper edge coordinate of index box */
  right: 8%; /* sets right edge coordinate of index box */
  bottom: -0.5%; /* sets lower edge coordinate of index box */
  left: 74%; /* sets left edge coordinate of index box */
  padding: 5px; /* sets index padding */
  font-size: 20px; /* sets font size */
  font-weight: bold; /* sets bold font */
  color: white; /* sets text color */
  background-color: rgb(255, 15, 135); /* sets index box color */
  transition: 1s; /* sets animation duration */
}

.poiImage:hover:after {
  /* adds extra element/styling after Points of Interest Image element when hovered over */
  content: attr(
    data-text
  ); /* sets content showed to be equal to the value of data-text attribute */
  border-radius: 10%; /* sets expanded text box circular corner */
  top: -0.5%; /* sets upper edge coordinate of expanded text box */
  right: -0.5%; /* sets upper edge coordinate of expanded text box */
  bottom: -0.5%; /* sets upper edge coordinate of expanded text box */
  left: -0.5%; /* sets upper edge coordinate of expanded text box */
  font-weight: normal; /* sets normal font */
  color: rgb(255, 15, 135); /* sets font color */
  background-color: rgba(
    0,
    0,
    0,
    0.9
  ); /* sets color and opacity of expanded text box*/
}

footer {
  grid-area: footer; /* sets Footer element as Footer Grid section area */
  margin: 40px 0px 30px 0px; /* sets margin spacing over and under Footer area */
}

#email {
  grid-area: email; /* sets Email element as Email Grid section area */
}

#extra {
  grid-area: extra; /* sets Extra element as Extra Grid section area */
  margin-right: 40px; /* moves Extra element content to the left */
}

.grid-container-map {
  display: grid; /* sets Map Page Body element as Main Grid area */
  grid-template-columns: auto auto auto; /* sets how many colums in the Main Grid area and their size */
  grid-template-areas: "header nav nav" "map map map" "poi poi poi" "footer footer footer"; /* sets Main Grid desired column/row configuration */
  margin-left: auto; /* centers Main Grid with its contents */
  margin-right: auto; /* centers Main Grid with its contents */
  min-width: 352px; /* sets Main Grid minimum width */
  max-width: 1145px; /* sets Main Grid maximum width */
}

.grid-container-footer {
  display: grid; /* sets Footer element as Subgrid of Map Main Grid */
  grid-template-columns: auto auto; /* sets how many colums in the Footer Grid area and their size */
  grid-template-areas: "email extra"; /* sets Footer Grid desired column/row configuration */
}
